<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizard!</title>
    <link rel="stylesheet" href="/summary/summary.css" />
  </head>
  <body>
    <nav class="menu">
      <div class="character">
        <img src="/summary/images/logo.svg" alt="Logo" />
      </div>
      <div class="nav-buttons">
        <a href="#" class="nav-list timeline">기록</a>
        <a href="#" class="nav-list reviewnotes">오답노트</a>
        <a href="#" class="nav-list settings">설정</a>
      </div>
    </nav>
    <main>
      <div class="summary-header">
        <img src="/summary/images/pointer.png" alt="Pointer" class="pointer-image" />
        <p class="summary-title"><b>요약</b></p>
      </div>
      <div class="container">
        <div id="mainContainer">
          <div id="mainContainer_header">
            <button id="copyButton"><img src="/summary/images/copy.png" />Copy</button>
            <button id="saveButton">저장</button>
          </div>
          <textarea id="summary"></textarea>
          <button id="submitButton">퀴즈 풀기</button>
        </div>
      </div>
    </main>
    <script src="/subject-choice/script.js"></script>
  </body>
</html>
