* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard';
}

.navbar {
    position: fixed;
    top: 0;
    width: 1512px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 0px 3.15px 3.15px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.logo {
    position: absolute;
    width: 279px;
    height: 80px;
    left: 110px;
    top: 35px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu .login {
    position: absolute;
    width: 135px;
    height: 48px;
    left: 1115px;
    top: 53px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .signup {
    position: absolute;
    width: 135px;
    height: 48px;
    left: 1262px;
    top: 53px;
    background: #9055D1;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wizard-image {
    position: absolute;
    width: 520px;
    height: 440px;
    left: 827px;
    top: 334px;
}

.text-block {
    position: absolute;
    width: 664px;
    height: 132px;
    left: 132px;
    top: 352px;
    font-family: 'Pretendard';
    font-style: bold;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    background: linear-gradient(90deg, #000000 -1.83%, #9055D1 82.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.description {
    position: absolute;
    width: 605px;
    height: 84px;
    left: 132px;
    top: 510px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.hover_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 70px;
    left: 0px;
    top: 170px;
    background: #9055D1;
    border-radius: 40px;
}

.button {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 100%;
}

.cta {
    position: absolute;
    width: 484px;
    height: 32px;
    left: 0px;
    top: 100px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2F0A3A;
}

.book-image {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 800px;
    top: 500px;
}

.robot-image {
    position: absolute;
    width: 357px;
    height: 335px;
    left: 100px;
    top: 1250px;
}

.woman-image {
    position: absolute;
    width: 357px;
    height: 335px;
    left: 800px;
    top: 2000px;
}