* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard';
    padding-bottom: 1000px;
}

.sign-up-image{
    position: absolute;
    width: 440px;
    height: 800px;
    left: 535px;
    top: 80px;
}