<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizard!</title>
    <link rel="stylesheet" href="subject-choice.css" />
  </head>
  <body>
    <nav class="menu">
      <div class="character">
        <img src="./subject-choice-images/Logo.png" alt="Logo" />
      </div>
      <div class="nav-buttons">
        <a href="#" class="nav-list timeline">기록</a>
        <a href="#" class="nav-list reviewnotes">오답노트</a>
        <a href="#" class="nav-list settings">설정</a>
      </div>
    </nav>
    <main>
      <div class="summary-header">
        <img src="./subject-choice-images/pointer.png" alt="Pointer" class="pointer-image" />
    <div class="container">
      <div class="character">
        <img src="./subject-choice-images/Logo.png" alt="Logo">
      </div>
      <h1> <br/> <br/> <br/> <br/>
        <img src="./subject-choice-images/pointer.png" alt="Magic stick" class="quiz-input">&ensp;강의 요약을 원하시는 과목을 입력해주세요</h1>
      </div>
    </div>
    <div class="input-area">
      <input type="text" placeholder="이곳에 과목명을 입력해주세요" class="wide-input">
      <button class="confirm-button">확인</button>
    </div>
    <div class="quiz-options">
      <span class="recent-records"> <br/> <br/> 최근기록<pre></pre></span>
      <div class="button-container">
        <div class="button-container">
        <button class="red">객제지향 프로그래밍 1</button>
        <button class="orange">데이터베이스</button>
        <button class="yellow">자료구조</button>
        <button class="green">국제재무론</button>
        </div>
      </div>
    </div>
  </main>
  <script src="script.js"></script>
</body>
</html>