<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quizard!</title>
  <link rel="stylesheet" href="/file-upload/style.css" />
</head>
<body>
<nav class="menu">
  <div class="character">
    <img src="/file-upload/images/logo.png" alt="Logo" />
  </div>
  <div class="nav-buttons">
    <a href="#" class="nav-list timeline">기록</a>
    <a href="#" class="nav-list reviewnotes">오답노트</a>
    <a href="#" class="nav-list settings">설정</a>
  </div>
</nav>
<main>
  <div class="container">
    <div id="loading-page">
      <img src="/file-upload/images/loading.svg" alt="loading" class="loading-image">
      <img src="/file-upload/images/notice.svg" alt="notice" class="notice-image">
    </div>
    <div id="upload-page">
    <div class="character"></div>
    <div>
      <div class="pointer-text">
        <img src="/file-upload/images/pointer.png" alt="pointer" class="pointer" />
        <h1>
          음성녹음, PDF 파일, Text 문서 등 원하는 형식의
          <span class="upload-link">파일을 업로드</span>하세요
        </h1>
      </div>
      <div class="file-upload-container">
        <div class="file-upload-header">
          <div class="drop-box" id="drop-box">
            <div style="text-align: center">
              <img
                      src="/file-upload/images/upload.png"
                      width="500"
                      class="input"
                      id="upload-image"
                      alt="Upload Icon"
              />
            </div>
            <div>
              <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="fileUpload" name="attach_file" multiple />
                <p style="text-align: right">
                  파일의 최대 크기: 60MB, 최대 첨부 파일 갯수: 8
                </p>
                <button  style="text-align: center" type="submit" id="upload-btn" class="centered confirm-button">
                  확인
                </button>
              </form>
            </div>
            <div class="file-info" style="text-align: center"></div>
          </div>
          <div class="uploaded-files" style="text-align: center"></div>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>
<script>
    document.getElementById('upload-form').addEventListener('submit', function (event) {
        document.getElementById('loading-page').style.display = 'flex';
        document.getElementById('upload-page').style.display = 'none';
    });
</script>
</body>
</html>
