<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizard!</title>
    <link rel="stylesheet" href="/home/style.css">
</head>
<body>
<div th:replace="~{footer/navbar :: basic-navbar}"></div>
<main>
    <div class="content">
        <img src="images/wizard.svg" alt="Wizard" class="wizard-image">
        <div class="text-block">
            강의 자료 기반<br>AI 퀴즈 생성 서비스
        </div>
        <div class="description">
            Quizard는 마법의 힘을 빌려 강력한 퀴즈를 생성해내는 웹페이지입니다.
            <br>pdf부터 녹음본까지, 당신이 어떤 강의 자료를 가져와도,
            <br>Quizard는 그것을 마법처럼 빛나는 퀴즈로 변환해 당신의 학업 수행을 돕습니다.
        </div>
        <div class="cta">
            Quizard가 당신을 마법의 학습 여정으로 인도합니다!
        </div>
        <div class="hover_button">
            <button class="button" type="button" onclick="location.href = '/parameter';">함께 시작해봐요!</button>
        </div>
    </div>
</main>
</body>
</html>