<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문제 유형 및 난이도 선택</title>
    <link rel="stylesheet" href="/parameter-choice/style.css" />
    <script src="/parameter-choice/script.js"></script>
</head>
<body>
<div th:replace="~{footer/navbar :: basic-navbar (${loginMember})}"></div>
<div class="container">
    <div class="info-text">
        <h1>퀴즈 형식을 설정해주세요</h1>
    </div>
    <div class="type-text">
        <h3>문제 유형</h3>
    </div>
    <div class="problem-type">
        <button onclick="toggleProblemType(this)">O/X</button>
        <button onclick="toggleProblemType(this)">객관식</button>
        <button onclick="toggleProblemType(this)">주관식</button>
        <button onclick="toggleProblemType(this)">서술형</button>
    </div>
    <div class="difficulty-text">
        <h3>난이도</h3>
    </div>
    <div class="difficulty">
        <button onclick="selectDifficulty(this)">쉬움</button>
        <button onclick="selectDifficulty(this)">보통</button>
        <button onclick="selectDifficulty(this)">어려움</button>
    </div>
    <form id="quizForm" action="" method="POST" style="display:none;">
        <input type="hidden" name="problem_types" id="problem_types">
        <input type="hidden" name="difficulty" id="difficulty">
    </form>
    <button class="submit-btn" onclick="submitForm()">제출</button>
</div>
</body>
</html>

