<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizard!</title>
    <link rel="stylesheet" href="/quiz-type-choice/styles.css">
</head>
<body>
    <div class="logo">
        <a href="Landing Page.html">
            <img src="/quiz-type-choice/images/logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="menu">
        <a href="#" class="timeline">기록</a>
        <a href="#" class="reviewnotes">오답노트</a>
        <a href="#" class="settings">설정</a>
    </nav>
    <div class="container">
        <img src="/quiz-type-choice/images/퀴즈 생성 방식을 선택해주세요.svg" alt="guide" class="guide-image">
        <img src="/quiz-type-choice/images/robot.svg" alt="robot" class="robot-image">
        <img src="/quiz-type-choice/images/woman.svg" alt="woman" class="woman-image">

        <form id="quiz" action="your_server_endpoint" method="POST" style="display:none;">
            <input type="hidden" name="quiz_types" id="quiz_types">
        </form>
        <button class="ai-button" onclick="submitForm('ai')">AI 자동 생성</button>
        <button class="myself-button" onclick="submitForm('auto')">직접 퀴즈 생성</button>
    </div>

    <script>
        let selectedQuizTypes = "";

        function submitForm(type) {

            document.getElementById('quiz_types').value = type;
            document.getElementById('quizForm').submit();
        }
    </script>
</body>
</html>